In [1]:
import os

os.getcwd()

'C:\\Users\\armck\\VU_DABC\\DBC_project_1\\Resources'

In [2]:
import numpy as np
import csv
import pandas as pd

In [101]:
start_year = 1989
end_year = 2020
year_list = list(np.arange(start_year, end_year, 1))

f500_df_prelim = pd.DataFrame(columns=['rank', 'company', 'year'])

for year in year_list:
    
    path = f'csv/fortune500-{year}.csv'
    
    f500_df = pd.read_csv(path)
    f500_df['year'] = year
    
    f500_df_prelim = f500_df_prelim.append(f500_df)
    
    f500_df_prelim.reset_index()
    
    
f500_df = f500_df_prelim

listoflists = pd.DataFrame(f500_df['company'].value_counts()).reset_index().rename(columns={'index':'company', 'company':'occurance'})
f500_df_sort = listoflists.merge(f500_df, on='company', how='left')
f500_df_sort = f500_df_sort.loc[f500_df_sort['profit ($ millions)'] != 'N.A.']
f500_df_sort['profit ($ millions)'] = f500_df_sort['profit ($ millions)'].astype('float64')
df2 = f500_df_sort.groupby('company').max().sort_values('profit ($ millions)', ascending=False)
df2 = df2.loc[df2['occurance'] >= 25]
df2 = df2.reset_index()
df2

,company,occurance,profit ($ millions),rank,revenue ($ millions),year
0,Exxon Mobil,31,45220.0,4,452926.0,2019
1,Berkshire Hathaway,31,44940.0,295,247837.0,2019
2,AT&T,25,29450.0,56,170756.0,2019
3,Citigroup,25,24589.0,56,159229.0,2019
4,Microsoft,25,23150.0,250,110360.0,2019
...,...,...,...,...,...,...
159,OfficeMax,33,416.8,483,13270.2,2013
160,R.R. Donnelley & Sons,31,400.6,445,11603.0,2019
161,Tech Data,25,340.6,464,37239.0,2019
162,Graybar Electric,25,143.3,480,7202.5,2019
163,Owens & Minor,25,115.2,481,9838.7,2019

In [102]:
df3 = pd.read_csv('../stock_ticker_info.csv',  encoding="ISO-8859-1")
df3 = df3.rename(columns={'Company Name2': 'company'})
df3

,company,Name,Ticker
0,Dean Foods,Dean Foods Company,DF
1,OfficeMax,"Office Depot, Inc.",ODP
2,Hormel Foods,Hormel Foods Corporation,HRL
3,United Technologies,United Technologies Corporation,UTX
4,Xerox,Xerox Corporation,XRX
...,...,...,...
1686,Actavis,ACTAVIS PLC Preferred Stock Con,ATVFF
1687,Noxell,Noxel Corp.,NOXL
1688,Toys 'R' Us,"Lehman ABS Corp., Corporate Backed Trust Certs...",XKE
1689,Sprague Technologies,NaN,NaN
1690,Lehman Brothers,Lehman Brothers Holdings Capital Trust VI,LEHNQ

In [103]:
df2 = df2.merge(df3,on='company', how='left')

In [104]:
df2 = df2[['Name', 'Ticker']]
df2

                              Name Ticker
0          Exxon Mobil Corporation    XOM
1          Berkshire Hathaway Inc.  BRK-A
2                        AT&T Inc.      T
3                   Citigroup Inc.      C
4            Microsoft Corporation   MSFT
..                             ...    ...
159             Office Depot, Inc.    ODP
160  R.R. Donnelley & Sons Company    RRD
161          Tech Data Corporation   TECD
162                            NaN    NaN
163            Owens & Minor, Inc.    OMI

[164 rows x 2 columns]

In [99]:
df2.to_csv('Fortune_list.csv')

FileNotFoundError: [Errno 2] No such file or directory: ''